//  root.scss
:root {
  font-size: 10px;
}

body {
  font-family: $body-font-family;
  line-height: $body-line-height;
  font-weight: $body-font-weight;
  font-size: 2rem;
}

.main-container {
  display: flex;
}

main {
  flex: 1;
}
